{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
{% endblock %}

<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="container">

        <h3 class="index-header">Sample of Blog Poem</h3>

        <hr>
        <h5 class="poem_header">Suffering</h5><br>
          <p>Suffering
            is the landscape
            of life.</p>

          <p>Hope is
            the sustenance
            of life.</p>

          <p>To avoid suffering
            is to avoid life.</p>

          <p>Love yourself.<br>

          <p>Love other's<br>
            even though
            they don't
            deserve it.</p>

          <p>Be gentle
            with yourself,
            even when utterly
            fatigued and
            victimized.</p>

          <p>Make you life
            a poem that
            you create
            and hold it
            close to your
            heart.</p>

          <p>The best
            you can do
            is all you can do.</p>

          <p>by:mcm</p>

        <ul class="list-unstyled">
            {{ macro.displayPostList(posts)}}
        </ul>



    </div>

{% endblock %}
